/****** Conflict fixing. BEG ********/
.naviItem .icon:not(.ignore):before {
    left: initial;
    transform: initial;
}

.naviItem .icon {
    position: initial;
    vertical-align: initial;
}

#admin-bar-iframe {
    display: none; /* test only */
}

/****** Conflict fixing. END ********/
.naviItem {
    z-index: 50;
    position: fixed;
    background: #fff;
    display: initial;
    /*box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.naviman_layout1, .naviman_layout2 {
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.naviman_layout3 {
    bottom: 24px;
    width: calc( 100% - 32px );
    left: 16px;
    border-radius: 32px;
}

/********** parent **********/
.naviItem  ul.navigation {
    position: relative;
    padding: 0px;
    margin: 0px;
    z-index: 50;
    display: block;
}
.naviItem  ul li {
    color: #555;
    line-height: initial;
    /*border-right: solid 1px #eee;*/
    height: 100%;
}

.naviman_app_overlay {
    background: rgba(0, 0, 0, 0.1);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    /*
    width: 100vw;
    height: 100vh; */
    height: 100%;
    width: 100%;
    content: " ";
}
@media only screen and (min-width: 769px) {
    .naviman_app_overlay {
        background: rgba(0, 0, 0, 0.0); /* Trên desktop thì không có bóng */
    }
}

.naviman_app_overlay_global {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    z-index: 9999999;
    left: 0px;
    top: 0px;
    /*
    width: 100vw;
    height: 100vh; */
    height: 100%;
    width: 100%;
    content: " ";
}

.naviman_app_overlay:hover,
.naviman_app_overlay_global:hover {
    cursor: pointer;
}

/* TODO: Remove sticky */
.section_naviman_app {
    display: block;
    position: relative;
    width: 100%;
}

.section_naviman_app .naviItem {
    position: initial;
    width: 100%;
    display: grid;
}

.section_naviman_app .naviItem ul.navigation {
    z-index: 100;
    width: 100%;
}

.section_naviman_app .naviItem ul li.item ul.children {
    z-index: 100;
    top: initial;
}

/****** Animation Ripple ********/
.naviItem ul li.item, .naviItem ul li.child{
    background-position: center;
    transition: background 0.8s;
    margin: 0px;

    overflow: initial;
    position: initial;
    backface-visibility: initial;
    vertical-align: top;
}

@media screen and (min-width:769px) {
    .naviItem ul li.item:hover, .naviItem ul li.child:hover {
        background: rgba(128, 128, 128, 0.03) radial-gradient(circle, transparent 0%, rgba(128, 128, 128, 0.03) 0%) center/15000%;
    }

    /*.section_naviman_app .naviItem ul > li.item ul.children {
        width: 400px;
    }*/

    .section_naviman_app .naviItem ul > li.item {
        position: relative;
    }

    /* Fix for full desktop stick mobile ****/
    .naviItem.desktop-bottom-full.STICKY_MOBILE_TABBAR ul li ul.children {
        left: initial;
    }

    .naviItem.desktop-bottom-full.STICKY_MOBILE_TABBAR > ul.navigation {
        max-width: 1280px;
        margin: auto;
    }

    .naviItem.desktop-top-full {
        top: 0px;
        bottom: initial;
    }

    .naviItem.desktop-top-full ul li ul.children {
        bottom: initial;
    }

    .naviItem.desktop-top-full.STICKY_MOBILE_TABBAR ul li ul.children {
        left: initial;
    }

    .naviItem.desktop-top-full.STICKY_MOBILE_TABBAR > ul.navigation {
        max-width: 1280px;
        margin: auto;
    }

    .naviItem .horizontal-menu ul.children {
        width: 960px;
    }

    .naviItem .horizontal-menu .kind-group-title {
        padding-top: 24px;
        border-top: solid 1px #eee;
    }
    .naviItem .horizontal-menu .kind-group-title:hover {
        background: initial;
    }

    .naviItem .horizontal-menu .kind-group-title:first-child {
        padding-top: 8px;
        border-top: 0px;
    }
}

.naviItem ul li.item:active, .naviItem ul li.child:active {
    background-color: rgba(128, 128, 128, 0.06);
    background-size: 100%;
    transition: background 0s;
}
/****** Animation Ripple ********/

.naviItem ul li.item {
    align-items: center;
    /*display: inline-grid; /* khoipn: ko biết ăn ko */
    display: block;
    text-align: center;
    width: 20%;
    float: left;
    height: 50px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.naviItem ul li:last-child {
    border-right: 0px;
}

.naviItem ul li.item a {
    text-decoration: none;
}

.naviItem ul li.item .icon {
    display: block;
    height: fit-content;
    margin-bottom: -2px; /* Fit height thì quá xa, cần chỉnh lại 1 chút */
    width: 100%;
    line-height: initial;
    opacity: initial;
}

.naviItem ul .kind-blank-space .inner .icon,
.naviItem ul .kind-blank-space .inner .image,
.naviItem ul .kind-blank-space .inner .info {
    visibility: hidden;
}

.naviItem ul .kind-blank-space {
    padding: 0px;
    display: block;
}

.naviItem ul > li.item .icon i {
    font-size: 22px;
}

.naviItem ul > li.item > .inner .image-border {
    width: 100%;
    text-align: center;
    line-height: 0px;
}

.naviItem ul > li.item > .inner .image-border .image-box {
    display: inline-block;
    width: fit-content;
    line-height: 0px;
    height: fit-content;
}

.naviItem ul li.item .image-border .image-box .image,
.naviItem ul li.item ul li.child .image-border .image-box .image {
    height: fit-content;
    display: block;
}

.naviItem ul li.item .image {
    display: block;
    height: fit-content;
    margin-bottom: 0px; /* Fit height thì quá xa, cần chỉnh lại 1 chút */
    width: 100%;
    line-height: 0px;
}

.naviItem ul li.item .image img{
    height: 22px;
    width: initial;
    padding: initial;
    margin: initial;
}

.naviItem ul li.item > .inner .name {
    line-height: initial;
    letter-spacing: initial;
    font-size: 12px;
    white-space: nowrap;
}

.naviItem ul > li.item .description {
    font-size: 70%;
    opacity: 0.6;
    margin-top: 0px;
    line-height: initial;
}

.naviItem ul > li.item > .inner .description {
    display: none;
}

.naviItem ul > li.item.text-only  > .inner .description {
    display: block;
}

.naviItem ul li.item .inner {
    position: relative;
    padding: 0px;
    margin: 0px;
    display: inline-block;

    /* width: 100%; KHOIPN */
    height: 100%;
    /*padding: 0px 8px 0px 8px;*/
    justify-content: center;

    flex-direction: column;
    display: flex;
    gap: 3px;
    width: 100%;
    box-sizing: border-box;
}

.naviItem ul li.item:before {
    display: none;
}

.naviItem ul > li.item > .inner {
    z-index: 10;
}

.naviItem ul li.item .arrow {
    position: absolute;
    top: -8px;
    left: calc( 50% - 6px );
    background: #fff;
    border: solid 1px #eee;
    border-left: 0px;
    border-top: 0px;
    width: 12px;
    transform: rotate(45deg);
    height: 12px;
    display: none;
    visibility: hidden;
}

.naviItem ul li.item_primary {
    /*position: relative;*/
}


/*.naviItem ul li ul.children li.navi-active {
    position: initial;
}

.naviItem ul li ul.children li.navi-active::after {
    content: " ";
    border-left: solid 2px rgba(128, 128, 128, 0.2);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.naviItem ul li.navi-active {
    position: relative;
}

.naviItem ul li.navi-active::after {
    content: " ";
    border-top: solid 2px rgba(128, 128, 128, 0.5);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}*/

.naviItem ul li.navi-active {
    background: rgba(128, 128, 128, 0.1);
}

.naviItem ul li ul li.navi-active {
    background: rgba(128, 128, 128, 0.05);
}


.naviItem ul li.item_divider {
    border-right: solid 1px #d9d9d9;
    margin-right: -1px;
}

.naviItem ul li.item_primary > .inner {
    width: 58px;
    /*position: absolute;*/
    margin-top: -6px;
    height: 58px;
    border-radius: 58px;
    background: #517B2C;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.10));
    /*box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    left: calc(100% - 58px - 13px);
    padding-top: 13px;
    box-sizing: border-box;
    z-index: 1000;
}

.naviItem ul li.item_primary > .inner .icon i {
    color: #fff;
}

.naviItem ul li.item_primary > .inner .name {
    display: none !important;
}

.naviItem ul li.item_primary > .inner .arrow {
    /*top: -2px;*/
    visibility: hidden;
}

.naviItem ul li.item_primary > .inner i {
    font-size:28px !important;
    margin-top:-2px !important;
    display: inline-block;
}

.naviItem ul li.item_primary > .inner img {
    height: 30px !important;
    margin-top:-2px !important;
    display: inline-block;
}

.naviItem ul li {
    display: block;
    transition-duration: 0.5s;

}

.naviItem ul li:hover {
    cursor: pointer;
}

/********** child **********/
.naviItem ul li ul.children {
    /*visibility: hidden;
    opacity: 0;*/
    position: absolute;
    /* transition: all 0.5s ease; */
    left: 0px;
    /*bottom: 1px;*/
    bottom: 0px;
    display: none;
    background: #fff;
    width: 100%;
    z-index: 1;
    padding-left: 0px;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.10);
    border-bottom: solid 1px rgba(0,0,0,0.05);
    padding: 4px 0px;

    max-height: 560px;
    overflow: auto;
}

.naviItem ul li ul.children li.child .image {
    display: inline;
}

.naviItem ul li ul.children li ul.children {
    position: absolute;
    left: 48px;
    top: 0px;
    width: calc(100% - 48px);
    z-index: 2;
}

.naviItem ul li ul.children .overlay {
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    left: 0px;
    top: 0px;
    
}

.naviItem ul li ul.children .overlay b.close {
    position: absolute;
    top: 8px;
    left: 16px;
    background: #fff;
    padding: 8px 10px;
    border-radius: 8px 0px 0px 8px;
}

    /*.naviItem ul li.item:hover > ul,
    .naviItem ul li.item ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }*/

.naviItem ul li.child_divider {
    border-bottom: solid 1px #eee;
    /* Jun 21: Delete to fix lost divider */
    /* margin-bottom: -1px;  */
}


.naviItem ul li ul li {
    clear: both;
    width: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    border: 0px;
    text-align: left;
    height: initial;
    padding: 8px 16px 8px 16px;
    /*display: inline-flex;*/
    display: -webkit-inline-box;
    /*border-bottom: solid 1px #eee;*/
}
.naviItem ul li ul:last-child {
    /*border-bottom: 0px;*/

}

.naviItem ul li.item ul li.child .info {
    /*display: inline-grid;*/
    display: block;
    margin-left: 12px;
    width: calc( 100% - 24px );
}

.naviItem ul li.item ul li.child .name {
    display: inline;
    font-size: 14px;
}

.naviItem ul li.item ul li.child .icon {
    display: inline;
    /*width: 28px;*/
}

.naviItem ul li.item ul li.child .icon i {
    font-size: 20px;
}

.naviItem ul li.item ul li.child .image {
    /*width: 28px;*/
}

.naviItem ul li.item ul li.child .name {
    display: inline-block;
}

.naviItem ul li.item ul li.child .description {
    font-size: 70%;
    opacity: 0.6;
    margin-top: 0px;
    line-height: initial;
    padding-top: 3px;
}



.naviItem ul li ul.children {
    margin: 0px;
}

span.telsms-click-spaces {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}

/* Publish: hide/hide when logged-in/only show when logged-in ********/
.naviItem ul li.publish-show-logined{
    display: none;
}

.naviItem ul li.publish-hide{
    display: none;
}

/*******************************************************************/
/*                           LEVEL 1                               */
/*******************************************************************/

/* Display layout ********/
.naviItem ul li.left-right > .inner, .naviItem ul li.right-left > .inner {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    padding-top: 0px;
}

.naviItem ul > li.right-left > .inner {
    flex-direction: row-reverse;
}

.naviItem ul > li.left-right .icon, .naviItem ul > li.left-right .image,
.naviItem ul > li.right-left .icon, .naviItem ul > li.right-left .image
{
    width: initial;
}

.naviItem ul > li.down-top .inner {
    flex-direction: column-reverse;
    height: initial;
}

/* Icon/image only ********/
.naviItem ul > li.icon-image-only > .inner .info {
    display: none;
}

.naviItem ul > li.icon-image-only > .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
}

.naviItem ul > li.icon-image-only > .inner .icon, .naviItem ul > li.icon-image-only > .inner .image {
    flex-direction: column;
    display: flex;
    align-items: initial;
    height: initial;
}

.naviItem ul > li.align-right.icon-image-only > .inner .icon, .naviItem ul > li.align-right.icon-image-only > .inner .icon {
    align-items: initial !important;
}

/* Text only ********/
.naviItem ul > li.text-only > .inner .icon, .naviItem ul > li.text-only > .inner .image {
    display: none !important;
}

.naviItem ul li.text-only > .inner {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;

    gap: 0px !important;
    justify-content: flex-start;
}

.naviItem ul li.item ul li.text-only .info {
    margin-left: initial;
}

.naviItem ul li.align-left > .inner
{
    justify-content: left;
}

.naviItem ul li.align-right > .inner
{
    justify-content: right;
}

.naviItem ul li.align-center > .inner
{
    justify-content: center;
}


/* Empty ********/
.naviItem ul > li.empty .icon, .naviItem ul > li.empty .image, .naviItem ul > li.empty .name, .naviItem ul > li.empty .description {
    display: none;
}

/* BIG_IMAGE_TEXT ************/
.naviItem ul > li.kind-big-image-text .image img {
    border-radius: 4px;
}

/*** Nếu left-right hoặc righ-left ****/
.naviItem ul > .kind-big-image-text.left-right .image, .naviItem ul > .kind-big-image-text.right-left .image {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.naviItem ul > .kind-big-image-text.left-right .inner, .naviItem ul > .kind-big-image-text.right-left .inner {
    gap: 8px;
}

.naviItem ul > .kind-big-image-text.left-right .info, .naviItem ul > .kind-big-image-text.right-left .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.naviItem ul > .kind-big-image-text.top-down .info, .naviItem ul > .kind-big-image-text.down-top .info {
    padding-bottom: 4px;
}

.naviItem ul li.text-only ul li.kind-big-image-text.top-down .inner
{
    flex-direction: column;
}

.naviItem ul li.text-only ul li.kind-big-image-text.down-top .inner {
    flex-direction: column-reverse;
}

/* Fix: Nếu vừa là dạng trái phải, vùa là big image thì luôn luôn căn text sang trái */
.naviItem ul > .kind-big-image-text.left-right .inner {
    text-align: left;
}

/* GROUP_TITLE ************/

.naviItem ul > li.kind-group-title .image, .naviItem ul > li.kind-group-title .icon {
    display: none;
}

.naviItem ul li.item ul li.kind-group-title.navi-active {
    /* TODO: Overwrite ông background cũ mất rồi */
}

/*******************************************************************/
/*                           LEVEL 2                               */
/*******************************************************************/

.naviItem ul li.item ul .widthfix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Display layout ********/
.naviItem ul li.item ul  li.left-right .inner, .naviItem ul li.item ul  li.right-left .inner {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    padding-top: 0px;
}

.naviItem ul li.item ul  li.right-left .inner {
    flex-direction: row-reverse;
}

.naviItem ul li.item ul  li.left-right .icon, .naviItem ul li.item ul  li.left-right .image,
.naviItem ul li.item ul  li.right-left .icon, .naviItem ul li.item ul  li.right-left .image
{
    width: initial;
}

.naviItem ul li.item ul  li.down-top .inner {
    flex-direction: column-reverse;
    height: initial;
}

/* Icon/image only ********/
.naviItem ul li.item ul  li.icon-image-only .name, .naviItem ul li.item ul  li.icon-image-only .description {
    display: none;
}

.naviItem ul li.item ul  li.icon-image-only .inner {
    display: flex;
}

.naviItem ul li.item ul  li.icon-image-only .inner .icon, .naviItem ul li.item ul  li.icon-image-only .inner .image {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: initial;
}

/* Text only ********/
.naviItem ul li.item ul  li.text-only > .icon, .naviItem ul li.item ul  li.text-only > .image-border
{
    display: none;
}

.naviItem ul li.item ul  li.text-only > .info {
    margin-left: 0px;
    width: 100%;
}

.naviItem ul li.item ul  li.text-only > .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
}


/* Empty ********/
.naviItem ul li.item ul  li.empty .icon, .naviItem ul li.item ul  li.empty .image, .naviItem ul li.item ul  li.empty .name, .naviItem ul li.item ul  li.empty .description {
    display: none;
}

/* BIG_IMAGE_TEXT ************/
.naviItem ul li.item ul .kind-big-image-text .image img {
    border-radius: 4px;
    height: initial !important;
    width: 80px;
}

.naviItem ul li.item ul .kind-big-image-text.left-right .inner, .naviItem ul li.item ul .kind-big-image-text.right-left .inner {
    align-items: flex-start;
    gap: 0px;
}

/*** Nếu left-right hoặc righ-left ****/
.naviItem ul li.item ul  .kind-big-image-text.left-right .image, .naviItem ul li.item ul  .kind-big-image-text.right-left .image {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*
.naviItem ul li.item ul  .kind-big-image-text.left-right .inner, .naviItem ul li.item ul  .kind-big-image-text.right-left .inner {
    gap: 8px;
}
*/

.naviItem ul li.item ul  .kind-big-image-text .inner {
    gap: 4px;
}

.naviItem ul li.item ul .kind-big-image-text.left-right .info, .naviItem ul li.item ul  .kind-big-image-text.right-left .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: calc( 100% - 80px - 12px );
}

.naviItem ul li.item ul .kind-big-image-text.left-right .inner, .naviItem ul li.item ul  .kind-big-image-text.right-left .inner {
    gap: 8px;
}

/* Fix: Nếu vừa là dạng trái phải, vùa là big image thì luôn luôn căn text sang trái */
.naviItem ul li.item ul  .kind-big-image-text.left-right .inner {
    text-align: left;
}

.naviItem ul li.item ul  .kind-big-image-text.left-right .info {
    margin-left: 0px;
    width: 100%;
}

/* Right left */
.naviItem ul li.item ul  .kind-big-image-text.right-left {
    display: grid;
}
.naviItem ul li.item ul  .kind-big-image-text.right-left .inner {
    text-align: right;
}
.naviItem ul li.item ul  .kind-big-image-text.right-left .inner .info {
    display: block;
}

/* Topdown */
.naviItem ul li.item ul  .kind-big-image-text.top-down .image, .naviItem ul li.item ul  .kind-big-image-text.down-top .image {
    display: block;
    height: initial;
}

.naviItem ul li.item ul  .kind-big-image-text.top-down, .naviItem ul li.item ul  .kind-big-image-text.down-top {
    padding: 8px 12px 4px 16px;
}

.naviItem ul li.item ul  .kind-big-image-text.top-down .image img, .naviItem ul li.item ul  .kind-big-image-text.down-top .image img{
    width: 100%;
}

/* Image icon only */
.naviItem ul li.item ul .kind-big-image-text.icon-image-only .image {
    display: block;
    height: initial;
}

.naviItem ul li.item ul .kind-big-image-text.icon-image-only {
    padding: 8px 0px 4px 16px;
}

.naviItem ul li.item ul  .kind-big-image-text.icon-image-only .image {
    width: 100%;
}

.naviItem ul li.item ul  .kind-big-image-text.icon-image-only .image img {
    width: 100%;
}

/* GROUP_TITLE ************/
.naviItem ul li.item ul li.kind-group-title > .inner .image, .naviItem ul li.item ul li.kind-group-title > .inner .icon {
    display: none !important;
}

.naviItem ul li.item ul li.kind-group-title > .inner {
    /* display: block; */
    width: 100%;
}

.naviItem ul li.item ul li.kind-group-title {
    padding: 4px 16px 6px 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.naviItem ul li.item ul li.kind-group-title > .inner .name {
    font-size: 110%;
}

.naviItem ul li.item ul li.kind-group-title > .inner .info {
    margin-left: 0px;
    width: calc(100% - 12px);
    display: contents;
}

/*** Fixed for children ******/
.naviItem ul li.item ul .child.top-down .info, .naviItem ul li.item ul .child.down-top .info {
    margin-left: initial;
    width: initial;
}

.naviItem ul li.item ul .child.top-down .image, .naviItem ul li.item ul .child.down-top .image,
.naviItem ul li.item ul .child.top-down .icon, .naviItem ul li.item ul .child.down-top .icon
{
    width: 100%;
}

.naviItem ul li.item ul li.child.layout-automatic > .inner {
    padding: 0px;
    display: contents;
}

.naviItem ul li.item ul.children {
    text-align: left;
}

/*** Fixed nếu ở 2 bên thì thêm 4px ở trên icon và image *****/
@media screen and (min-width:0px) and (max-width: 768px) {
    .naviItem.mobile-right-center li.item > .inner .icon, .naviItem.mobile-right-center li.item > .inner .image,
    .naviItem.mobile-left-center li.item > .inner .icon, .naviItem.mobile-left-center li.item > .inner .image,
    .naviItem.mobile-right-bottom li.item > .inner .icon, .naviItem.mobile-right-bottom li.item > .inner .image,
    .naviItem.mobile-left-button li.item > .inner .icon, .naviItem.mobile-left-button li.item > .inner .image {
        padding-top: 4px;
    }
}

@media screen and (min-width:769px) {
    .naviItem.desktop-right-top li.item > .inner .icon, .naviItem.desktop-right-top li.item > .inner .image,
    .naviItem.desktop-left-top li.item > .inner .icon, .naviItem.desktop-left-top li.item > .inner .image,
    .naviItem.desktop-left-full-top li.item > .inner .icon, .naviItem.desktop-left-full-top li.item > .inner .image,
    .naviItem.desktop-left-full-center li.item > .inner .icon, .naviItem.desktop-left-full-center li.item > .inner .image,
    .naviItem.desktop-right-full-top li.item > .inner .icon, .naviItem.desktop-right-full-top li.item > .inner .image,
    .naviItem.desktop-right-full-center li.item > .inner .icon, .naviItem.desktop-right-full-center li.item > .inner .image {
        padding-top: 4px;
    }

    .naviItem.naviman_layout4 li.item > .inner .icon,
    .naviItem.naviman_layout4 li.item > .inner .image{
        padding-top: 0px;
    }

    .naviItem.naviman_layout4 li.item > .inner .image {
        display: flex;
    }

    .naviItem.desktop-bottom-center-float {
        bottom: 24px;
    }
}


/* Mobile platform *******/
@media screen and (min-width:0px) and (max-width: 768px) {
    .naviItem {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    }
}

/* Parent menus *************************/
.naviItem ul > li.is-parent {
    position:relative;
}
.naviItem ul > li.is-parent::after {
    content: "\ea54";
    font-family: remixicon !important;
    position: absolute;
    top: calc(50% - 10px);
    color: #9d9d9d;
    right: 8px;
    font-size: 20px;
}

.naviItem .hamburger_close {
    display: none;
}

.naviItem.publishToPlace {
    position: initial;
    width: auto;
    height: initial;
}

.naviItem.publishToPlace ul > li.item {
    position: relative;
}/* Variable *****************************/
:root{
    --cart-count-text: "●";
    --cart-count-text-fix: "●";
}

/** Badge for Item menu *********************************/
.naviItem ul li.item_badge > .inner .icon::before, .naviItem ul li.item_badge > .inner .image::before {
    content: var(--cart-count-text-fix);
    font-family: initial;
    color: red;
    position: absolute;
    font-size: 20px;
    right: calc( (100% - 34px ) / 2);
    top: -2px;
    z-index: 100;
}

.naviItem ul li.item_badge_withcount .inner .icon::before, .naviItem ul li.item_badge_withcount .inner .image::before {
    font-size: 40px;
    top: -12px;
    right: 4px;
}

.naviItem ul li.item_badge_withcount_hide .inner .icon::before, .naviItem ul li.item_badge_withcount_hide .inner .image::before {
    content: " \25CF";
    color: red;
    position: absolute;
    font-size: 20px;
    right: calc( (100% - 34px ) / 2);
    top: -2px;
    z-index: 100;
}

.naviItem ul li.item_badge_withcount_hide .cart_count {
    display: none;
}

.naviItem ul li.item .cart_count {
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 10px;
    z-index: 1000;
    color: #fff;
    text-align: center;
    width: 20px;
}





/** Badge for child menu *********************************/
/*
.naviItem ul li.child_badge > .inner .icon::before, .naviItem ul li.child_badge > .inner .image::before {
    content: var(--cart-count-text-fix);
    font-family: initial;
    color: red;
    position: absolute;
    font-size: 20px;
    right: calc( (100% - 34px ) / 2);
    top: -2px;
    z-index: 100;
}
*/

.naviItem ul li.child_badge_withcount > .inner .icon::before, .naviItem ul li.child_badge_withcount > .inner .image::before {
    font-size: 40px !important;
    top: -14px !important;
    left: 24px !important;
}

.naviItem ul li.child_badge_withcount > .inner .cart_count {
    left: 26px;
    top: 5px;
}

.naviItem ul li.child_badge_withcount_hide > .inner .icon::before, .naviItem ul li.child_badge_withcount_hide > .inner .image::before {
    content: " \25CF";
    color: red;
    position: absolute;
    font-size: 20px;
    right: calc( (100% - 34px ) / 2);
    top: -2px;
    z-index: 1;
}

.naviItem ul li.child_badge_withcount_hide > .inner .cart_count {
    display: none;
}

.naviItem ul li.child .cart_count {
    position: absolute;
    left: 9px;
    top: 5px;
    font-size: 10px;
    z-index: 1000;
    color: #fff;
    text-align: center;
    width: 20px;
}

.naviItem ul li.child_badge > .inner .icon::before, .naviItem ul li.child_badge > .inner .image::before {
    content: var(--cart-count-text-fix);
    font-family: initial;
    color: red;
    position: absolute;
    font-size: 20px;
    left: 29px;
    top: 1px;
    z-index: 1;
}

.naviItem ul li.item ul li.child_badge {
    position: relative;
}


.naviItem ul li.item_badge_withcount > .inner .icon::before, .naviItem ul li.item_badge_withcount > .inner .image::before,
.naviItem ul li.child_badge_withcount > .inner .icon::before, .naviItem ul li.child_badge_withcount > .inner .image::before {
    content: var(--cart-count-text);
}
.naviItem.STICKY_HAMBURGER ul > li.is-parent-top {
    position:relative;
}
.naviItem.STICKY_HAMBURGER ul > li.is-parent-top::after {
    content: "\ea54";
    font-family: remixicon !important;
    position: absolute;
    top: calc(50% - 10px);
    color: #9d9d9d;
    right: 10px;
    font-size: 20px;
}

.naviItem.STICKY_HAMBURGER ul > li.is-parent-top ul li.is-parent::after {
    right: 0px;
    top: 16px;
}

.naviItem.STICKY_HAMBURGER ul > li.is-parent-top.menu-expand::after,
.naviItem.STICKY_HAMBURGER ul > li.is-parent-top  ul li.is-parent.menu-expand::after
{
    transform: rotate(90deg);
}

/*** Fixed for hamburger ******/
.naviItem.STICKY_HAMBURGER ul li.layout-automatic > .inner, .naviItem.STICKY_HAMBURGER ul li.left-right > .inner {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    padding-top: 0px;
    justify-content: flex-start;
}

.naviItem.STICKY_HAMBURGER {
    width: 90%;
    max-width: 480px;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: auto;
    padding-bottom: 16px;
}

.naviItem.STICKY_HAMBURGER ul li.item {
    width: 100%;
    max-width: 480px;
    text-align: initial;
    height: initial;
    padding: 8px 16px;
}

.naviItem.STICKY_HAMBURGER ul li.item ul li.child.layout-automatic .inner {
    display: inline-flex;
}

.naviItem.STICKY_HAMBURGER ul li.item.kind-blank-space {
    padding: 0px;
}

.naviItem.STICKY_HAMBURGER ul li.item > .inner {
    gap: 8px;
}

.naviItem.STICKY_HAMBURGER ul li.item > .inner .icon, .naviItem.STICKY_HAMBURGER ul li.item > .inner .image {
    padding-top: 0px;
    display: contents;
}

.naviItem.STICKY_HAMBURGER ul li.item > ul.children, .naviItem.STICKY_HAMBURGER ul li.item > ul.children li ul.children {
    position: initial;
    width: 100%;
    margin: initial;
    margin-top: 8px;
    max-height: initial;
    padding: 0px;
}

.naviItem.STICKY_HAMBURGER ul.children {
    border: solid 1px rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 4px;
}

.naviItem.STICKY_HAMBURGER ul.children ul.children {
    border: 0px;
    border-radius: 0px;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
}

.naviItem.STICKY_HAMBURGER ul.children ul.children li.child {
    padding-left: 0px;
    padding-right: 0px;
}

.naviItem.STICKY_HAMBURGER ul li.item_badge > .inner .icon::before, .naviItem.STICKY_HAMBURGER ul li.item_badge > .inner .image::before {
    left: 12px;
    top: -8px;
    right: initial;
}

.naviItem.STICKY_HAMBURGER ul li.item > ul.children li.child {
    display: inline-block;
}

.naviItem.STICKY_HAMBURGER ul li.item:hover, .naviItem.STICKY_HAMBURGER ul li.child:hover {
    background: initial;
}

@media only screen and (min-width:769px){
    .naviItem.STICKY_HAMBURGER > ul li.item:hover, .naviItem.STICKY_HAMBURGER > ul li.child:hover{
        background: rgba(128, 128, 128, 0.03) radial-gradient(circle, transparent 0%, rgba(128, 128, 128, 0.03) 0%) center / 15000%;
        /*text-decoration: underline;*/
    }

    .naviItem.STICKY_HAMBURGER > ul li.item.menu-expand:hover, .naviItem.STICKY_HAMBURGER > ul li.child.menu-expand:hover{
        background: initial;
    }
}

.naviItem.STICKY_HAMBURGER ul li.item .name:hover, .naviItem.STICKY_HAMBURGER ul li.child .name:hover {
    text-decoration: underline;
}

.naviItem.STICKY_HAMBURGER ul li.kind-group-title > .inner .image, .naviItem ul li.kind-group-title > .inner .icon {
    display: none !important;
}

.naviItem.STICKY_HAMBURGER ul li.kind-group-title > .inner {
    /* display: block; */
    width: 100%;
    gap: 0px;
}

.naviItem.STICKY_HAMBURGER ul li.kind-group-title {
    padding: 4px 16px 6px 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.naviItem.STICKY_HAMBURGER ul li.kind-group-title > .inner .name {
    font-size: 110%;
}

.naviItem.STICKY_HAMBURGER ul li.kind-group-title > .inner .info {
    margin-left: 0px;
    width: calc(100% - 12px);
    display: contents;
}

.naviItem.STICKY_HAMBURGER ul li ul.children .overlay {
    display: none !important;
}

.naviItem.STICKY_HAMBURGER ul > li.item > .inner .image-border {
    width: initial;
}

.naviItem.STICKY_HAMBURGER ul .kind-big-image-text.top-down .image img, .naviItem.STICKY_HAMBURGER ul .kind-big-image-text.down-top .image img{
    width: 100%;
}

.naviItem.STICKY_HAMBURGER ul .kind-big-image-text.top-down, .naviItem.STICKY_HAMBURGER ul .kind-big-image-text.down-top {
    padding: 8px 12px 4px 16px;
}

.naviItem.STICKY_HAMBURGER ul .kind-big-image-text .image img {
    border-radius: 4px;
    height: initial;
    width: 100%;
}

.naviItem.STICKY_HAMBURGER ul .child.top-down .image, .naviItem.STICKY_HAMBURGER ul .child.down-top .image, .naviItem.STICKY_HAMBURGER ul .child.top-down .icon, .naviItem.STICKY_HAMBURGER  ul .child.down-top .icon {
    width: 100%;
    display: block;
    height: initial;
}

.naviItem.STICKY_HAMBURGER ul .child.top-down .info, .naviItem.STICKY_HAMBURGER ul .child.down-top .info {
    margin-left: initial;
    width: initial;
}

.naviItem.STICKY_HAMBURGER ul li.item.kind-big-image-text .inner {
    gap: 4px;
}

.naviItem.STICKY_HAMBURGER ul > li.item > .inner .description {
    display: block;
}

.naviItem.STICKY_HAMBURGER li.item > .inner .name {
    white-space: initial;
}

.naviItem.STICKY_HAMBURGER .hamburger_close {
    display: block !important;
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 0px;
    background: rgba(128, 128, 128, 0.3);
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
    padding: 0px;
}

.naviItem.STICKY_HAMBURGER .hamburger_close:hover {
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
}

.naviItem.STICKY_HAMBURGER .hamburger_close i{
    font-size: 20px;
    margin-top: 3px;
    position: absolute;
    right: 2px;
    top: -10px;
}

@media screen and (min-width:0px) and (max-width: 768px) {
    .naviItem.STICKY_HAMBURGER ul > li.is-parent {
        position:relative;
    }
}
.naviItem.SECTION_MEGAMENU ul > li.is-parent-top::after {
    content: "\ea54";
    font-family: remixicon !important;
    position: absolute;
    top: 12px;
    color: #9d9d9d;
    right: 8px;
    font-size: 20px;
    transform: rotate(90deg);
}

.naviItem.SECTION_MEGAMENU ul > li.is-parent-top {
    padding-left: 16px;
    padding-right: 16px;
}

.naviItem.SECTION_MEGAMENU ul > li.item {
    padding-left: 16px;
    padding-right: 16px;
}
/* Chỗ này sửa không biết đúng không. Phải test trước khi apply rộng rãi ****/
@media screen and (min-width:0px) and (max-width: 768px) {
    /*.naviItem ul > li.is-parent {
        position:static;
    }*/

    .naviItem ul li ul.children li ul.children {
        width: calc(100vw - 48px);
    }

}
